@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD ASP.NET Application</h1>
    <p>This application should have the ability to do CREATE, READ, UPDATE, DELETE.</p><br>

</div>
